<!DOCTYPE html> {% load static %}{% load bootstrap4 %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Reset password</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/login.css' %}">
</head> 

<body>
<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<div class="form-container">
    <h1>Reset password</h1>

    <form id="user_form" method="post" action="{% url 'password_reset' %}" enctype="multipart/form-data">
        {% csrf_token %}

        <br />
        <div class="mb-3">
             {% bootstrap_form form %}
        </div>
        </br>

        {% if form.errors or form.non_field_errors %}
        <div class="mb-3 p-6 bg-red-100 rounded-xl">
            {% for field in form %} {{ field.errors }} {% endfor %} {{ form.non_field_errors }}
        </div>
        {% endif %}
        <p> ready to login? <a href="{% url 'accounts:login' %}"> back to login</a></p>
        <input type="submit" name="Send email" value="Send email"/>
    </form>
</div>

</body>

<!-- i used this webiste to implement the code in both this and its the corresponding css file:https://codepen.io/fghty/pen/PojKNEG -->