{% extends "base.html" %} {% load crispy_forms_tags %} {% load bootstrap4 %} {% load static %} 
{% block title_block %} Email sent! {% endblock %} 
{% block style_block %}
<link rel="stylesheet" type="text/css" href="/static/styles/base.css">
<link rel="stylesheet" type="text/css" href="/static/styles/password_email.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"> {% endblock %} 

{% block body_block %}
<div class="black-bg">
    <h1><u>Password reset sent!</u></h1>
    <br>
    <br>
    <br>
    <br>
    <h4>We've emailed you instructions for setting your password, if an account exist with the email you entered. You should receive the email shortly.
        If you dont receive an email, please check that you have entered the correct email.</h4>
    <br>
    <br>
    <button class='glowing-btn'><span class='glowing-txt'><a href="{% url 'home' %}" >HOME</a></button>
    <br>
    <br>
</div>
{% endblock %}

<!-- button code has been taken from https://codepen.io/Ks145/pen/MWGxbYr -->