{% extends "base.html" %} {% load static %} {% block title_block %} About - Tron Trader {% endblock %} {% block style_block %} {{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'styles/about.css' %}"> 
<script src="https://unpkg.com/typed.js@2.0.132/dist/typed.umd.js"></script>
{% endblock %} 

{% block body_block %}

<section class="words-transition">
    <h1>We are <span class="auto-type"></span></h1>

    

</div>


<script src="/static/javascript/aboutus.js"></script>
{% endblock body_block %}