{% extends "base.html" %} {% load static %} {% block title_block %} About - Tron Trader {% endblock %} {% block style_block %} {{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'styles/about.css' %}"> {% endblock %} {% block body_block %}
<div class="container">
    <h1>About Us</h1>
    <h2>At Tron Trader, we are dedicated to providing the best platform for buying and selling cars.
        <br> we are a team of 5 developers and this would be our first startup, we are enthusiastic to supply the user with software updates and patches that will better the users experience!
        <br> if you would like to contatct a memeber of our team please head to the <a href="{% url 'contact_us' %}">Contact us </a> page

    </h2>

</div>
{% endblock body_block %}