{% extends "base.html" %} {% load static %} {% block body_block %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/contact.css' %}">
<div class="container">
    <h1>Contact Us</h1>
    <br>
    <h2>use the provided emails or phone numbers to contact our developers for any enqiuries:</h2>
    <br>
    <h3>Phone:</h3>
    <ul>
        <li>09129391923</li>
        <li>09122637281</li>
        <li>02123392939</li>
        <li>07476153892</li>
    </ul>
    <h3>Email:</h3>
    <ul>
        <li>mostafa@gmail.com</li>
        <li>Andrei@hotmail.com</li>
        <li>Ali@outlook.com</li>
        <li>Satveer@yahoo.com</li>
        <li>Anton@icloud.com</li>
    </ul>
    <br>

    <h2>if you would like to know more about us please head to the <a href="{% url 'about_us' %}">About </a> page</h2>
</div> {% endblock body_block %}