<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title_block %}
            Car Trader
        {% endblock %}
    </title>
</head>
<body>
<div>
    {% block header_block %}
        <!-- TODO: add more stuff here!-->
        <ul>
        <li><a href="/">Index</a></li>
        <li><a href="cars/">Browse Cars</a></li>
        </ul>
    {% endblock %}
</div>
<div>
    {% block body_block %}
        <p>empty body block</p>
    {% endblock %}
</div>
</body>
</html>
