.logo{
    width: 130px;
}

.base-profile-pic{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: 5px 3px 2px 5px;
    margin-right: 10px;
}

.sub-class-profile{
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}
