@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body {
    background-color: #f8f9fa;
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
    font-weight: 400;
}

.container {
    margin-top: 20px;
    max-width: 800px;
}

h3 {
    color: #343a40;
    font-family: 'Roboto', sans-serif;
    padding-left: 15pt;
}

li {
    list-style: disc;
    padding-left: 0;
    font-size: 14pt;
    font-family: 'Poppins', sans-serif;
}

h2 {
    text-justify: distribute;
    font-size: 15pt;
    font-family: 'Roboto', sans-serif;
    padding-left: 20pt;
}

h1 {
    font-size: 30pt;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}