@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body {
    background-color: #f8f9fa;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

.container {
    max-width: 800px;
    padding: 0 20px;
    margin-top: 20px;
}

h3 {
    font-size: 18px;
    color: #343a40;
    font-family: 'Roboto', sans-serif;
    padding-left: 15pt;
    font-weight: 700;
    margin: 40px 0 20px;
}

li {
    list-style: disc;
    padding-left: 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
}

h2 {
    text-justify: distribute;
    font-size: 15pt;
    font-family: 'Roboto', sans-serif;
    padding-left: 20pt;
    font-weight: 500;
    margin: 40px 0 20px;
}

h1 {
    font-size: 48pt;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin: 60px 0 30px;
    animation: fadeIn 0.5s forwards;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@keyframes fadeIn {
    0% {
        font-size: 0;
        opacity: 0;
    }
    100% {
        font-size: 16;
        opacity: 1;
    }
}