{% extends "base.html" %} {% load static %} {% block body_block %} {% block title_block %} Browse {% endblock %}

<h1>BROWSE</h1>
{% for car in carlist %} {% if car.image %}
<img src="{{ car.image.url }}" alt="picture of a car" class="bd-placeholder-img card-img-top" height="200"> {% endif %}
<div class="card-body">
    <h5 class="card-title">{{ car.brand }} {{ car.model }}</h5>
    <h6 class="card-text">{{ car.price }} </h6>
    <h6 class="card-text">{{ car.mileage }}</h6>
    <h6 class="card-text">{{ car.location }}</h6>
    <a href="#" class="btn btn-primary">Details</a>
</div>
</div>
</div>
{% endfor %}
</div>
</body>
{% endblock %}