{% extends "base.html" %} {% load static %} {% block title_block %} {{ page_title }} {% endblock %} {% block body_block %}
<h1>{{ page_title }}</h1>

    <div>
        <form id="category_form" method="post" action="/cars/">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}
            <input type="submit" name="submit" value="Search" />
        </form>
    </div>

<div class="row">
    {% for car in carlist %}
    <div class="col">
        <div class="card" style="width: 18rem; margin-top: 10px; margin-bottom: 20px;">
            {% if car.image %}
            <img src="{{ car.image.url }}" alt="picture of a car" class="bd-placeholder-img card-img-top" height="200"> {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ car.brand }} {{ car.model }}</h5>
                <h6 class="card-text">Price: £{{ car.price }} </h6>
                <h6 class="card-text">Mileage: {{ car.mileage }}</h6>
                <h6 class="card-text">Location: {{ car.location }}</h6>
                <a href="{% url 'cars:car_details' car.pk %}" class="btn btn-primary">Details</a>

            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}