{% extends "base.html" %}
{% load static %}

<!-- {% block title_block %}

     name the title of this page based on whatever the user is browsing
     for example:
        if user is browsing used cars then the title should be used
        if they are browsing new audi cars then title should be brand new audi cars {% endblock %} -->

{% block body_block %}
    <h1> BROWSE </h1>
    <br>
    {% if car_condition %}
        <p>You are browsing {{ car_condition }} cars.</p>
    {% endif %}
    <p>most viewed/popular cars should be shown:</p>
    <br>
    {% if cars %}
        <ul>
            {% for car in cars %}
                <a href="{% url 'cars:car_details' car_id=car.unique_car_id %}">
                <li>{{ car.brand }} {{ car.model }} </li>
                <img src="{{ car.image.url }}">
                </a>
            {% endfor %}
       </ul>
    {% else %}
       <strong> There are no car listings present. </strong>
    {% endif %}
{% endblock %}