{% extends "base.html" %}
{% load static %}

{% block title_block %}
  {{ year }} {{ colour }} {{ car_title }}
{% endblock %}

{% block body_block %}
{% if messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
{% for message in messages %}
  {{message|safe}} - <a href="{% url 'accounts:wishlist' %}" class="alert-link">Your Wishlist</a>.
{% endfor %}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<div class="container mt-5" style="margin: 60px">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">{{ car_title }}</h1>
      <div class="row g-0">
        <div class="col-md-8">
          <div class="card mt-4">
            <div class="card-body">
              {% if image_url %}
                <img src="{{ image_url }}" alt="picture of a car" class="img-fluid mt-4 mb-4" style="border-radius: 10px; border: solid 2px #DFDFDF;">
              {% endif %}
              <h4> Condition: {{ condition }} </h4>
              <h4> Price: £{{ price }} </h4>
              <h4> Mileage: {{ mileage }} </h4>
              <h4> Location: {{ location }} </h4>
              <div class="mt-5">
                <h3>Seller Profile</h3>
                <p class="mt-4">Name: {{ seller_first_name }} {{ seller_last_name }}</p>
                <p>username: {{ seller_username }}</p>
                <p>Email: {{ seller_email }}</p>
                <a href="{% url 'accounts:add_wishlist' carid %}" class="btn btn-primary mt-4" style="font-weight: bold; padding: 10px; background-color: #663FD6; border: none; box-shadow: none;" onmouseover="this.style.boxShadow='0 0 18px 2px rgba(102, 63, 214, 1)'"
                    onmouseout="this.style.boxShadow='none'">Add to Wishlist</a>
                <a href="{% url 'messaging:message_seller' %}" class="btn btn-primary mt-4" style="font-weight: bold; padding: 10px; background-color: #663FD6; border: none; box-shadow: none;" onmouseover="this.style.boxShadow='0 0 18px 2px rgba(102, 63, 214, 1)'"
                    onmouseout="this.style.boxShadow='none'">Message Seller</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mt-4">
            <div class="card-body">
              <h4 class="card-title">Car Specs</h4>
              <ul class="list-unstyled">
                <li>Make: {{ brand }}</li>
                <li>Model: {{ model }}</li>
                <li>Manufacturing Year: {{ year }}</li>
                <li>Body Type: {{ body_type }}</li>
                <li>Transmission: {{ transmission }}</li>
                <li>Fuel Type: {{ fuel_type }}</li>
                <li>Exterior Color: {{ colour }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card mt-4">
        <div class="card-body">
          <h2>Description</h2>
          <p>{{ description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
